body {
    margin: auto;
    background-image: linear-gradient(to right, rgb(192, 191, 191), rgb(212, 211, 211), white, rgb(192, 191, 191), rgb(212, 211, 211));
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 100px 0;
}

.headPhotoHolder {
    width: 1000px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 4px 3px 3px rgba(128, 128, 128, 0.5);
    background-color: white;
    flex-direction: row;
}

aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gray-container {
    position: absolute;
    width: 880px;
    height: 100px;
    bottom: 0px;
    color: white;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.658);
    text-align: left;
}

#photoTitle {
    font-size: 20px;
    padding: 10px 10px 0px 20px;
}

#photoDescription {
    color: grey;
    padding: 0px 10px 10px 20px;
}

#backArrow {
    width: fit-content;
}

#nextArrow {
    transform: rotate(180deg);
    width: fit-content;
}

.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80px;
    align-content: center;
    padding-top: 10px;
    /* background-color: yellow; */
}

.big {
    width: 900px;
    height: 400px;
    object-fit: cover;
}

.small1 {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: white solid 4px;
    margin: 5px;
    box-shadow: 0px 3px 0px rgba(128, 128, 128, 0.5);
}

.textOver {
    visibility: hidden;
    position: absolute;
}